/Main board/Nákupní vozík_čvc16_0320odp..xls
/Main board/Nákupní vozík_čvc15_0400odp..pdf
/Main board/Nákupní vozík_čvc15_0400odp..xls
/Main board/Nákupní vozík_čvc16_0320odp..pdf
/Main board/Fab_data.zip
/Main board/Josef Pecka PCK_ST1.pdf
/Main board/PCK_ST1.docx
/Main board/Fab_data
/Main board/PCK-ST1-backups
/Main board/Fab_data/PCK-ST1-B_Cu.gbr
/Main board/Fab_data/PCK-ST1-B_Mask.gbr
/Main board/Fab_data/PCK-ST1-B_Paste.gbr
/Main board/Fab_data/PCK-ST1-B_Silkscreen.gbr
/Main board/Fab_data/PCK-ST1-Edge_Cuts.gbr
/Main board/Fab_data/PCK-ST1-F_Cu.gbr
/Main board/Fab_data/PCK-ST1-F_Mask.gbr
/Main board/Fab_data/PCK-ST1-F_Paste.gbr
/Main board/Fab_data/PCK-ST1-F_Silkscreen.gbr
/Main board/Fab_data/PCK-ST1-In1_Cu.gbr
/Main board/Fab_data/PCK-ST1-In2_Cu.gbr
/Main board/Fab_data/PCK-ST1-job.gbrjob
/Main board/Fab_data/PCK-ST1-NPTH.drl
/Main board/Fab_data/PCK-ST1-PTH.drl
